<?xml version="1.0"?>
<launch>
  <arg name="world_name" default="$(find racecar_gazebo)/worlds/racecar.world" />
  <arg name="gui" default="true" />
  <arg name="teleop" default="false"/>

  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(arg world_name)"/>
    <arg name="gui" value="$(arg gui)"/>
  </include>

  <group ns="racecar">
    <include file="$(find racecar_gazebo)/launch/include/spawn_racecar.launch">
      <arg name="robot_name" value="racecar"/>
      <arg name="color" value="blue"/>
      <arg name="init_x" value="0"/>
      <arg name="init_y" value="0"/>
    </include>
    <include file="$(find racecar_control)/launch/racecar_control.launch">
      <arg name="robot_name" value="racecar"/>
    </include>

    <!-- Spawn the MUXs -->
    <include file="$(find racecar)/launch/mux.launch" ns="vesc" />
  </group>

  <!-- Teleop -->
  <group if="$(arg teleop)">
    <include file="$(find racecar_control)/launch/teleop.launch">
      <arg name="robot_name" value="racecar"/>
    </include>
  </group>

</launch>
